<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="../../static/js/iv.js"></script>
    <script src="../../static/user/js/api-user.js"></script>
    <script src="../../static/user/js/user.js"></script>
</head>
<body>
<div id="user-login-content">
    <input id="id-username-login" type="text" name="username">
    <input id="id-password-login" type="password" name="password">
    <button id="id-btn-login">login</button>
</div>
<div id="user-register-content">
    <input id="id-username-register" type="text" name="username">
    <input id="id-password-register" type="password" name="password">
    <button id="id-btn-register">register</button>
</div>
</body>
</html>